.secaoprincipal {
    background: var(--cor-background-gradiente);
}

.container__topo {
    color: var(--cor-banca);
    font-family: var(--font-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.topo-img {
    margin: 2em 1.5em 0.5em 1.5em;
}

.titulo-topo {
    margin: 1em 0.5em;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.texto-topo {
    font-size: 20px;
    text-align: center;
    margin: 0 0.5em;
    padding: 15px;
}

