  @import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@400;500;600;700;800&display=swap');
  @import url('./header.css');
  @import url('./redape.css');
  @import url('./banner.css');
  @import url('./lineup.css');

  :root {
    /*fontes*/
    --font-principal: 'Calistoga', cursive;
    --font-secundaria: 'Raleway', sans-serif;
    /*cores*/
    --cor-banca: #ffffff;
    --cor-primeira: #4650BD;
    --cor-segunda: #008364;
    --cor-terceira: #304968;
    --cor-segunda: #36C1A0;
    --cor-segunda: #B6BCFF;
    --cor-background-gradiente: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
  }

  
